
.label {
    text-align: center;
    padding-right: 113px;
}

.labelEmail {
    text-align: center;
    padding-right: 153px;
} 

.MainLabel{
  padding-bottom:30px;
  padding-left:135px;
  color: white;
  font-size: xx-large;
}

.button{
  margin-top:20px;
}

.form{
  height: 300px;
  border-style: solid;
  border-width: 2px;
  padding-top: 100px;
  background-color: black;
  color:white;
  margin-left:400px;
  padding-right: 100px;
  padding-left: 100px;
}

.login{
  margin-left: 700px;

}

.main{
  height: 100vh;
}