.label {
    text-align: center;
    padding-right: 113px;
  }

.labelEmail {
    text-align: center;
    padding-right: 153px;
  } 

.MainLabel{
  padding-bottom:50px;
}
.login{ 
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}