.label {
    text-align: center;
    padding-right: 113px;
  }

.labelEmail {
    text-align: center;
    padding-right: 153px;
  } 

.MainLabel{
  padding-bottom:50px;
  padding-left: 370px;
}
.login{ 
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.button{

margin-top:20px;
}

.form{
  height: 300px;
  border-style: solid;
  border-width: 2px;
  padding-top: 200px;
  background-color: black;
  color:white;
  margin-left:400px;
  padding-right: 100px;
  padding-left: 100px;
}